//@import "../../../styles/utils";

.page-not-found {
    padding-top: 80px;
    text-align: center;

    .number {
        font-size: 115px;
        font-weight: 700;
        margin-bottom: 20px;
        // color: theme;
    }

    .text {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}

.neo {
    height: 80vh;
    display: flex;
    align-items: center;

    .number {
        font-size: 120px;
    }
    .section-body {
        width: 100%;
        padding: 40px;
    }
    .page-not-found {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .link {
        border-bottom-color: transparent;
        &:hover {
            border-bottom-color: inherit;
        }
    }
}
