<div class="neo">
    <div class="section-body">
        <div class="centered-content">
            <div class="page-not-found">
                <div class="number">404</div>
                <div class="text">Страница не найдена</div>
                <div>Вернуться на <a [routerLink]="['/']" title="Главная страница" class="link">Главную страницу</a></div>
            </div>
        </div>
    </div>
</div>
