.field {
    display: inline-block;
    border: 1px solid grey;
    margin: 10px;

    .level-row {
        display: table;
        .level-cell {
            display: table-cell;
            width: 15px;
            height: 15px;
            padding-right: 1px;
            padding-bottom: 1px;

            &.cell0 {

            }
            &.cell1 {
                background: brown;
            }
            &.cell2 {
                background: orange;
            }
            &.cell3 {
                background: blue;
            }
            &.cell4 {
                background: yellow;
            }
            &.cell5 {
              background: lightblue;
            }
            &.cell100 {
              background: green;
            }
            &.cell101 {
              background: red;
            }
        }
    }
}
