<div *ngIf='levelIsLoaded' class='field'>
    <div *ngFor='let row of levelData' class='level-row'>
        <div *ngFor='let cell of row' class='level-cell  cell{{cell}}'>
        </div>
    </div>
</div>

<app-score></app-score>

<div>
  MaxGold: {{level.calcAmount(4)}}
</div>
